.admin-dashboard {

  flex: 1;
  padding: 30px;

  display: flex;
  flex-direction: column;
  align-items: center;

  .mui-table-row-column, .mui-table-header-column {
    text-align: right !important;
  }
}

@media all and (max-width: 500px) {
  .hidden {
    display: none;
  }
}
