.account-data {
  display: flex;
  align-items: center;
  flex-direction: column;

  .title {
    color: #000;
    text-align: center;
    font-size: 32px;
  }

  .account-data-fields {
    width: 360px;
  }

  .row {
    margin: 15px 0;

    &.big-margin {
      margin: 40px 0;
    }
  }

  .error-msg {
    color: #e74c3c;
    padding: 5px 10px;
    font-size: 12px;
    cursor: default;
  }

  @media all and (max-width: 500px) {
    .title {
      font-size: 20px;
    }

    .account-data-fields {
      width: 250px;
    }
  }
}