.update-user-data-modal {

  .edit-item {
    margin: 10px 0;

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }

    &.toggle-item {
      margin: 20px 0;
    }
  }
  .actions {
    margin-top: 50px;
    text-align: center;
    font-size: 16px;
  }
}
