@import "commonStyles/variables";

@import "components/root/root";
@import "components/siteHeader/siteHeader";

@import "components/homePage/homePage";
@import "components/myAccount/myAccount";
@import "components/userData/userData";


@import "components/loginBox/loginBox";
@import "components/createAccountBox/createAccountBox";
@import "components/forgotPasswordBox/forgotPasswordBox";

@import "components/authBox/authBox";

@import "components/accountDataEdit/accountDataEdit";
@import "components/dashboard/dashboard";
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css);
@import url(http://fonts.googleapis.com/css?family=Arimo:400,700&subset=hebrew,latin);

body, html {
  height: 100%;
  font-size: 12px;
  font-family: 'Arimo', sans-serif;
}

body {
  margin: 0;
  direction: rtl;
}
