@import "components/root/root";
@import "components/cards/card";
@import "components/cards/cardsDisplayer";
@import "components/pages/usersPage";
@import "components/pages/gamesPage";
@import "components/pages/bookingsPage";
@import "components/pages/homePage";
@import "components/pages/landingPage";
@import "components/pages/emailsPage";


@import "components/loading/loading";
@import "components/navigation/navigation";

@import "components/plusButton/plusButton";




@import "components/dialogs/editUserDataDialog";
@import "components/dialogs/editGameDialog";
@import "components/dialogs/editBookingDialog";
@import "components/dialogs/authDialog";
@import "components/dialogs/frames/dialogFrame";
@import "components/dialogs/dialogActions";
@import "components/dialogs/loginDialogContent";
@import "components/dialogs/createAccountDialogContent";
@import "components/dialogs/resetPasswordDialogContent";
@import "components/dialogs/changePasswordDialogContent";
@import "components/dialogs/areYouSureDialog";

@import "components/myAccount/myAccount";
@import "components/loading/loading";


@import "components/loginBox/loginBox";

@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css);
@import url(http://fonts.googleapis.com/css?family=Arimo:400,700&subset=hebrew,latin);
@import url(https://fonts.googleapis.com/icon?family=Material+Icons);

body, html {
  height: 100%;
  font-size: 12px;
  font-family: 'Arimo', sans-serif;
}

body {
  margin: 0;
  direction: rtl;
}
