.plus-button-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  margin: 0 20px;

  .plus-button {
    width: 65px;
    height: 65px;
    box-sizing: border-box;
    font-size: 22px;
    transition: width .1s ease-in-out, height .1s ease-in-out, background-color .1s ease-in-out;
    display: flex;
    background-color: #c0392b;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: #fff;

    &:hover {
      width: 68px;
      height: 68px;
      background-color: #e74c3c;
      cursor: pointer;
    }
  }
}