# Envs:
node_modules/
.idea/
npm-debug.log
Gemfile
Gemfile.lock

# Generated:
bin/
*.rt.js
dist/bundle.js
public/
client/

# Config
.env
src/config/config.json
conf/client.config.json
conf/server.config.json