.emails-page {
  display: flex;
  flex-direction: column;
  align-items: center;

  .recipients {
    margin-top: 20px;
    width: 200px;
  }

  .email-type {
    margin-top: 20px;
    width: 200px;
  }

  .template-mail {
    margin-top: 20px;

    display: flex;
    flex-direction: column;
  }

  .custom-mail {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    width: 500px;

    @media screen and (max-width: 680px) {
      width: 320px;
    }

    .custom-mail-content {
      margin-top: 20px;
      width: 100%;
      box-shadow: rgba(0,0,0, 0.1) 0 0 8px;
      overflow: auto;
      resize: none;
      outline: none;
    }
  }

  .actions {
    margin-top: 50px;
  }
}