.home-page {
  .title-wrapper {
    padding-right: 35px;
    font-size: 26px;
    color: #3d4e57;

    .title {
      display: inline-block;
      font-size: 26px;
    }

    .icon {
      line-height: 26px;
      vertical-align: middle;
      font-size: 34px;
      padding-left: 10px;
    }
  }
}
