.dashboard {
  display: flex;
  align-items: center;

  .status-text {
    flex: 1;

    h1 {
      font-size: 36px;
    }

    h3 {
      font-size: 22px;
    }

  }

  .outside-logo {
    height: 300px;
    width: 300px;
    margin-right: 20px;
    background: url("../../images/outside-logo.png") no-repeat;
    background-size: cover;
  }

}

@media all and (max-width: 800px) {
  .dashboard {
    flex-direction: column;

    .status-text {
      text-align: center;
    }
  }
}

