.dashboard-page-container {
  background-color: #2A2A2A;
  height: calc(100vh - 120px);
  color: #ffffff;
  padding: 30px;

  .dashboard-tabs {
    margin: 10px auto;
    width: 400px;
    display: flex;

    .tab-option{
      background: #e74c3c;
      flex: 1;
      cursor: pointer;
      height: 50px;
      display: flex;
      justify-content: center;
      align-items: center;


      &.selected{
        background: #ffffff;
        color: #e74c3c;
      }
    }
  }

  .dashboard-content{
    display: flex;
    justify-content: center;
    align-items: center;
  }

}