.login-box {
  width: 350px;
  padding: 20px 35px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border: 10px solid rgba(0, 0, 0, 0.6);
  border-radius: 5px;

  .login-input {
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-family: 'Arimo', sans-serif;
    margin-top: 8px;
    box-sizing: border-box;

    &:first-child {
      margin-top: 0;
    }

    &.has-click-action {
      cursor: pointer;
    }

    &.social-button {
      color: #ffffff;

      &.facebook-button {
        background-color: #45619D;
      }

      &.google-button {
        background-color: #ff5a5f;
      }
    }

    &.login-button {
      border: 1px solid;
    }
  }

  .login-or-separator {
    span {
      background-color: #ffffff;
      padding: 8px;
    }

    hr {
      margin: -20px auto 10px auto;
      width: 90%;
    }
  }
}
