.list-item {
  display: flex;
  align-items: flex-start;
  padding: 5px 10px 5px 10px;

  &:first-child {
    padding-top: 0;
  }

  .list-image {
    width: 40px;
    height: 40px;
    margin-top: 5px;
    margin-left: 10px;
    border-radius: 50%;
    background: #ffffff;
    box-shadow: inset 0 1px 2px hsla(0, 0%, 4%, .1);
    padding: 5px;
  }

  .list-titles {
    flex: 1;
    overflow: hidden;

    .title.large-text {
      font-size: 1.2em;
      font-weight: bold;
    }
    .subtitle {
      font-size: 0.80rem;
      &.inline, &.inline.show-for-print {
        display: inline-block;
        margin-left: 15px;
      }

    }
  }

}