.form-frame {

  .header {
    display: flex;
    background: #59ABE3;
    border-bottom: 8px solid #3498DB;
    color: #ffffff;
    height: 50px;
    padding: 0 10px;
    align-items: center;

    .title {
      flex: 1;
      font-size: 1.25rem;
      font-weight: bold;
      color: #ffffff;
    }

    .back-btn {
      width: 20px;
    }
  }

  .content {
    margin-top: 20px;
  }

  .action-buttons {
    margin-top: 10px;

    .button {
      i {
        margin-right: 10px;
      }
    }
  }
}