.top-bar {
  background: #222222;
  color: #FFFFFF;
  border-bottom: 3px solid #fff;

  span {
    cursor: default;
  }

  .user-info {
    font-size: 0.85rem;
  }

  .small-menu {
    background: #e83a30;
    margin-top: 1em;
    margin-left: 0.5em;
  }

  .menu {
    margin-top: 0.6rem;

    .button {
      color: #FFFFFF;
      background: none;

      &.small {
        font-size: 0.85rem;
      }

      &.active {
        background: #e83a30;
        font-weight: bold;
      }
    }
  }

  .avatar {
    width: 2.5rem;
    background: #fff;
    border-radius: 50%;
    padding: 5px;
    margin: 10px;
  }

  .disconnect {
    color: #e83a30;

    &:hover {
      text-decoration: underline;
    }
  }

}