.card {

  $card-image-size: 100px;

  @mixin ribbon-color($textColor, $backgroundColor) {
    background-color: $backgroundColor;
    color: $textColor;
  }

  width: 235px;
  position: relative;
  margin: 15px 15px;
  box-shadow: 0 0 18px 0 rgba(22, 45, 61, 0.27);

  .card-header {
    height: 140px;
    text-align: center;
    background: #3d4e57;

    &.card-blue {
      background: #42A5F5;
      .card-image {
        border-color: #90CAF9;
      }
    }

    &.card-green {
      background: #66BB6A;
      .card-image {
        border-color: #A5D6A7;
      }
    }

    .card-image {
      margin-top: 10px;
      width: $card-image-size;
      height: $card-image-size;
      border: 8px solid rgba(61, 78, 87, 0.78);
      border-radius: 50%;
      background: #ffffff;
    }
  }

  .card-content {
    padding: 10px 0;
    text-align: center;
    background: #ffffff;

    .card-title {
      font-size: 18px;
      font-weight: 400;
      letter-spacing: 0.05em;
      color: #e74c3c;
    }

    .card-sub-title {
      margin: 5px 0 0;
      color: #171a1f;
      font-weight: 200;
    }
  }

  .card-actions-wrapper {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;

    .card-actions-item {
      display: flex;
      flex: 1;
      justify-content: center;
      align-items: center;
      padding: 12px;
      color: #3D4E57;
      font-weight: 600;

      &:hover {
        cursor: pointer;
      }

      .action-icon {
        font-size: 12px;
        margin-left: 5px;
      }
    }
  }
  .card-ribbon-wrapper {
    width: 85px;
    height: 88px;
    overflow: hidden;
    position: absolute;
    top: -3px;
    left: -3px;

    .card-ribbon {
      font-size: 10px;
      font-weight: bold;
      text-align: center;
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      position: relative;
      padding: 7px 0;
      right: -5px;
      top: 15px;
      width: 120px;
      float: right;
      box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);

      &.ribbon-Green {
        @include ribbon-color(#6a6340, #8EBF45);
      }

      &.ribbon-Red {
        @include ribbon-color(#fff, #c83d2f);
      }

      &.ribbon-Blue {
        @include ribbon-color(#fff, #5C96BB);
      }
    }

    &:before, &:after {
      content: "";
      border-top: 3px solid #6e8900;
      border-left: 3px solid transparent;
      border-right: 3px solid transparent;
      position: absolute;
      bottom: -3px;
    }

    &:before {
      left: 0;
    }

    &:after {
      right: 0;
    }
  }
}
