.card-img-MTA {
  background-image: url('http://www.basket.co.il/pics/2007/logos/logo_maccabi.png');
}

.card-img-HTA {
  background-image: url('http://www.basket.co.il/pics/2007/logos/logo_hapoelta.png');
}

.card-img-HOLON {
  background-image: url('http://www.basket.co.il/pics/2007/articles/logo_hh.png');
}

.card-img-EILAT {
  background-image: url('http://www.basket.co.il/pics/2007/logos/logo_eilat.png');
}

.card-img-RISHON {
  background-image: url('http://www.basket.co.il/pics/2007/logos/logo_rishon.png');
}

.card-img-HAIFA {
  background-image: url('http://www.basket.co.il/pics/2007/logos/logo_haifa.png');
}

.card-img-NES_ZIONA {
  background-image: url('http://www.basket.co.il/Images/teams/logo_ziona.png');
}

.card-img-NAHARIA {
  background-image: url('http://www.basket.co.il/pics/2007/logos/logo_naharia.png');
}

.card-img-BNEI_HASHARON {
  background-image: url('http://www.basket.co.il/pics/2007/logos/logo_sharon.png');
}

.card-img-ASHDOD {
  background-image: url('http://www.basket.co.il/pics/2007/logos/logo_ashdod.png');
}

.card-img-KIRYAT_GAT {
  background-image: url('http://www.basket.co.il/Images/teams/bigGat.png');
}