
.auth-form-container {
  .logo {
    margin: 20px auto 35px;
    width: 160px;
    height: 160px;
  }

  .auth-form {
    text-align: center;
  }

  .hr {
    margin: 0.7em auto !important;
  }

  .red-link{
    text-decoration: underline;
  }
}

