.auth-box {

  .row {
    margin: 15px 0;
    display: flex;

    &.full-width-item {
      flex: 1;
    }

    &:first-child {
      margin-top: 0;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }

  .error-msg {
    color: #e74c3c;
    padding: 5px 10px;
    font-size: 12px;
    cursor: default;
  }

  .navigation-text {
    color: #2c3e50;
    font-size: 14px;
    font-weight: bold;
    cursor: default;

    a {
      color: #2980b9;
      margin-right: 5px;
      &:hover {
        text-decoration: underline;
        cursor: pointer;
      }
    }

    &.reverse-text{
      justify-content: flex-end;
    }
  }
}
