.site {

  direction: rtl;


  $facebook-color: #3b5998;
  $google-color: #d50f25;
  $primary-color: #3498db;
  $hover-color: #2385c6;

  .split.button {
    width: 100%;
    font-size: 16px;
    line-height: 16px;

    i {
      font-size: 20px;
      padding-right: 10px;
      line-height: 16px;
    }

    &.facebook {
      background: $facebook-color;
    }

    &.google {
      background: $google-color;
    }

    &.left-icon {
      text-align: right;
      span {
        left: 0;
      }
    }
  }

  .error-msg {
    color: $google-color;
    padding: 0 15px;

    i {
      margin-left: 10px;
    }
  }

  label {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .more-space {
    margin-top: 25px;
  }
}
