.site-header {

  .header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 25px;

    .logo-section {

      .logo {
        width: 100px;
        height: 50px;
        background: url("../../../resources/outside-text.png") no-repeat;
        background-size: cover;
      }

    }

    .auth-section {
      display: flex;
      justify-content: center;
      align-items: center;

      .login-btn-section {
      }

      .user-data-section {
        display: flex;
        justify-content: space-around;
        align-items: center;

        .navigation-wrapper {
          margin-left: 10px;
        }

        .avatar-wrapper {
        }

        .welcome-text {
          max-width: 120px;
          margin-left: 10px;
          margin-right: 5px;

          .user-display-name {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }
        }
        .logout {
          a {
            color: #2980b9;
            &:hover {
              text-decoration: underline;
              cursor: pointer;
            }
          }
        }
      }
    }
  }




  @media all and (max-width: 500px) {
    .header-content {

      &.logged-in {
        flex-direction: column;

        .auth-section {
          .user-data-section {
            margin-top: 10px;

            .welcome-text {
              display: flex;
              max-width: 150px;

              .user-display-name {
                margin-right: 3px;
              }
            }
          }
        }
      }
    }

  }

}
