@import "../../commonStyles/variables";

.site-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 25px;
  height: 100%;

  .logo {
    width: 100px;
    height: 50px;
    background: url("../../images/outside-text.png") no-repeat;
    background-size: cover;
  }

  .login-btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
  }

  .user-data-avatar-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;

    .welcome-text {
      max-width: 80px;
      flex: 1;
      margin: 0 10px;
    }

    .user-display-name {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    a {
      color: #2980b9;
      &:hover {
        text-decoration: underline;
        cursor: pointer;
      }
    }
  }
}

@media all and (max-width: 500px) {
  .site-header {
    padding: 0 5px;
  }
}