.home-page {

  .events {
    margin-top: 10px;

    @media screen and (max-width: 39.9375em) {
      margin-top: 0px;
    }
  }

  .events-list {
    h6 {
      font-weight: bold;
    }
  }

  .no-bookings {
    font-size: 1.2em;
    text-align: center;
    color: #424242;

    i {
      margin-right: 10px;
    }
  }

  .event-item {
    padding: 5px 0;

    @media screen and (max-width: 39.9375em) {
      padding: 15px 0 30px 0;
    }

    &:nth-child(even) {
      background: #EEEEEE;
    }
    &:nth-child(odd) {
      background: #E0E0E0;
    }
  }
}