.users-data-dashboard {
  flex: 1;
  padding: 30px;

  display: flex;
  flex-direction: column;

  .table-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .filters {
      display: flex;
      align-items: center;

      > * {
        margin: 0 20px;

        &:first-child {
          margin-right: 0;
        }
      }
    }
  }

  .users-data-table {

    .users-data-count {
      font-weight: bold;
      margin-right: 5px;
    }

    .mui-table-row-column, .mui-table-header-column {
      text-align: right !important;
    }
  }

}

@media all and (max-width: 500px) {
  .users-data-dashboard {
    .hidden {
      display: none;
    }
    .table-header {
      .filters {
        flex-direction: column;
        align-items: flex-start;

        > * {
          margin: 0;
        }
      }
    }
  }


}
