.team-logo-MTA {
  background-image: url('http://www.basket.co.il/pics/2007/logos/logo_maccabi.png');
}

.team-logo-HTA {
  background-image: url('http://www.basket.co.il/pics/2007/logos/logo_hapoelta.png');
}

.team-logo-HOLON {
  background-image: url('http://www.basket.co.il/pics/2007/articles/logo_hh.png');
}

.team-logo-EILAT {
  background-image: url('http://www.basket.co.il/pics/2007/logos/logo_eilat.png');
}

.team-logo-RISHON {
  background-image: url('http://www.basket.co.il/pics/2007/logos/logo_rishon.png');
}

.team-logo-HAIFA {
  background-image: url('http://www.basket.co.il/pics/2007/logos/logo_haifa.png');
}

.team-logo-NES_ZIONA {
  background-image: url('http://www.basket.co.il/Images/teams/logo_ziona.png');
}

.team-logo-NAHARIA {
  background-image: url('http://www.basket.co.il/pics/2007/logos/logo_naharia.png');
}

.team-logo-BNEI_HASHARON {
  background-image: url('http://www.basket.co.il/pics/2007/logos/logo_sharon.png');
}

.team-logo-ASHDOD {
  background-image: url('http://www.basket.co.il/pics/2007/logos/logo_ashdod.png');
}

.team-logo-KIRYAT_GAT {
  background-image: url('http://www.basket.co.il/Images/teams/bigGat.png');
}