.site {
  direction: rtl;

  input {
    border: 1px solid #000000;
  }
}

.logo {
  margin: 20px auto 35px;
  width: 170px;
  height: 170px;
}

$facebook-color: #3b5998;
$google-color: #d50f25;

.split.button {
  width: 100%;
  font-size: 16px;
  line-height: 16px;

  i {
    font-size: 20px;
    padding-right: 10px;
    line-height: 16px;
  }

  &.facebook {
    background: $facebook-color;
  }

  &.submit {
    background: green;
  }

  &.google {
    background: $google-color;
  }

  &.left-icon {
    text-align: right;
    span {
      left: 0;
    }
  }
}
