@import "../../commonStyles/variables";

.root {
  height: 100%;
  min-height: 600px;

  header {
    height: $site-header-height;
  }

  .site-content {
    height: calc(100vh - #{$site-header-height});
    background-color: #2A2A2A;
  }

}
