@import "../../commonStyles/variables";

.root {
  height: 100%;

  header {
    height: $site-header-height;
  }

  .site-content {
    min-height: calc(100vh - #{$site-header-height} - #{$site-footer-height});
    background: url("../../images/home-page-bg.jpg") no-repeat;
    background-size: cover;
  }

  footer {
    height: $site-footer-height;
    display: flex;
    justify-content: center;
    align-items: center;

    .contact-us {
      display: flex;
      justify-content: center;
      color: #000;
      max-width: 300px;
      font-size: 14px;

      a {
        color: #000;
      }

      .text {
        flex: 3;
        flex-basis: 200px;
      }

      .icon {
        flex: 1;
        flex-basis: 20px;
        padding: 0 10px;

        &.first {
          border-left: 1px solid #000;
        }
      }
    }
  }

}
