.card {

  @mixin ribbon-color($textColor, $darkColor, $lightColor) {
    background-color: $darkColor;
    background-image: -webkit-gradient(linear, left top, left bottom, from($darkColor), to($lightColor));
    background-image: linear-gradient(top, $darkColor, $lightColor);
    background-image: -moz-linear-gradient(top, $darkColor, $lightColor);
    background-image: -ms-linear-gradient(top, $darkColor, $lightColor);
    background-image: -o-linear-gradient(top, $darkColor, $lightColor);
    color: $textColor;
  }

  $card-image-size: 100px;

  width: 235px;
  position: relative;
  margin: 5px 10px;
  box-shadow: 0 0 18px 0 rgba(22, 45, 61, 0.27);

  .card-header {
    height: 140px;
    text-align: center;
    background: #ef5350;

    .card-image {
      margin-top: 10px;
      width: $card-image-size;
      height: $card-image-size;
      border: 8px solid #ffcdd2;
      border-radius: 50%;
    }
  }

  .card-content {
    padding: 10px 0;
    text-align: center;
    background: #ffffff;

    .card-title {
      font-size: 18px;
      font-weight: 400;
      letter-spacing: 0.05em;
      color: #c0392b;
    }

    .card-sub-title {
      margin: 5px 0 0;
      color: #171a1f;
      font-weight: 200;
    }
  }

  .card-actions-wrapper {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;

    .card-actions-item {
      display: flex;
      flex: 1;
      justify-content: center;
      align-items: center;
      padding: 12px;
      color: #3D4E57;
      font-weight: 600;

      &:hover {
        cursor: pointer;
      }

      &:active {
        //background-color: #34495e;
      }

      & + .card-actions-item {
      }
    }
  }

  .card-ribbon-wrapper {
    width: 85px;
    height: 88px;
    overflow: hidden;
    position: absolute;
    top: -3px;
    left: -3px;

    .card-ribbon {
      font-size: 10px;
      font-weight: bold;
      text-align: center;
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      position: relative;
      padding: 7px 0;
      right: -5px;
      top: 15px;
      width: 120px;
      float: right;
      box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);

      &.ribbon-green {
        @include ribbon-color(#6a6340, #BFDC7A, #8EBF45);
      }

      &.ribbon-red {
        @include ribbon-color(#fff, #e95748, #c83d2f);
      }

      &.ribbon-blue {
        @include ribbon-color(#fff, #2980B9, #5C96BB);
      }
    }

    &:before, &:after {
      content: "";
      border-top: 3px solid #6e8900;
      border-left: 3px solid transparent;
      border-right: 3px solid transparent;
      position: absolute;
      bottom: -3px;
    }

    &:before {
      left: 0;
    }

    &:after {
      right: 0;
    }
  }
}