.dashboard {
  flex: 1;
  padding: 30px;

  display: flex;
  flex-direction: column;

  .no-open-games {
    font-color: blue;
  }

  .games-wrapper {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
}

//  .content {
//    margin-top: 20px;
//  }
//
//  .status-text {
//    text-align: center;
//
//    h1 {
//      font-size: 36px;
//    }
//
//    h3 {
//      font-size: 22px;
//    }
//  }
//
//  .outside-logo {
//    height: 300px;
//    width: 300px;
//    margin-top: 30px;
//    background: url("../../images/outside-logo.png") no-repeat;
//    background-size: cover;
//  }
//
//}
//
//@media all and (max-width: 500px) {
//  .dashboard {
//    .status-text {
//      h1 {
//        font-size: 28px;;
//      }
//
//      h3 {
//        font-size: 16px;;
//      }
//    }
//  }
//}

