.user-dashboard {
  flex: 1;
  padding: 30px;

  display: flex;
  flex-direction: column;

  .no-open-games {
    flex: 1;

    display: flex;
    flex-direction: column;
    align-items: center;

    text-align: center;
  }

  .open-games {
    display: flex;
    flex-direction: column;

    .title {
      text-align: center;
      font-size: 36px;
    }

    .games-wrapper {
      flex: 1;

      display: flex;
      justify-content: space-around;
    }
  }

  @media all and (max-width: 900px) {
    .open-games {
      .games-wrapper {
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .card-wrapper {
          margin-top: 20px;

          &:first-child {
            margin-top: 0;
          }
        }
      }
    }
  }
}