<p dir=rtl style="color: #000; margin-top: 30px">שלום USER,</p>
<p dir=rtl style="color: #000;">ברוך הבא לשירות ההסעות מתל אביב לארנה של ארגון אוהדי הפועל ירושלים - מחוץ לחומות.</p>
<p dir=rtl style="color: #000;">במהלך העונה הקרובה תצא הסעה (הלוך - חזור) למשחקי הבית של הקבוצה מתחנת ארלוזורוב בת״א. ההרשמה להסעות תתבצע באופן הבא:</p>
<p dir=rtl style="color: #000;">
  <span>בערך כשבוע לפני מועד המשחק תפתח הרשמה להסעה חדשה.</span>
  <span style="font-weight: bold">בשלב הראשון, מרגע פתיחת ההרשמה ועד כ-36 שעות לפני מועד המשחק, ההרשמה תהיה פתוחה למנויים שנתיים בלבד.</span>
  <span>לאחר מכן, נודיע על פתיחת ההרשמה לכלל האוהדים הרשומים באתר (מנויים שנתיים וכל השאר) - וההרשמה תתבצע על בסיס מקום פנוי.</span>
</p>
<p dir=rtl style="color: #000;">
  <span>עלות מנוי ההסעות השנתי - 300 ש״ח. במידה וסימנת בעמוד ההרשמה שאתה מעוניין במנוי שכזה, נציג הקבוצה יצור איתך קשר בימים הקרובים לגביית התשלום.</span>
  <span>במידה ואינך מעוניין במנוי,</span>
  <span style="font-weight: bold">עלות נסיעה חד פעמית - 40 שקלים</span>
  <span>(20 שקלים לכיוון).</span>
</p>
<p dir=rtl style="color: #000;">
  <span>נקודות לשים לב אליהן:</span>
  <ul dir=rtl style="color: #000;">
    <li>מנוי ההסעות רלוונטי רק למנויים של הקבוצה!</li>
    <li>ההסעות הן רק למשחקי הבית של הקבוצה הנכללים במנוי!</li>
    <li>ההסעה תצא מהירידה לאיילון של מחלף ארלוזורוב - <a href="http://bit.ly/1E9vNG5" style="color: blue; text-decoration: none">לחץ כאן לצפייה במפה</a></li>
    <li>ההסעה יוצאת <span style="font-weight: bold; text-decoration: underline">בזמן!</span> לא נחכה למאחרים!</li>
    <li>עצירה בצומת שילת בהלוך ובחזור</li>
    <li>ההרשמה תתבצע לכל הסעה בנפרד! גם מנויים שנתיים יצטרכו להרשם לפי השיטה שכתובה למעלה!</li>
    <li>לשאלות, בקשות וסתם כדי לקשקש - ניתן לפנות אלינו דרך עמוד הפייסבוק של הארגון או במייל hapoelbus@gmail.com</li>
  </ul>
</p>
<p dir=rtl style="color: #000; margin-top: 50px">נתראה במהלך העונה!</p>
